language: python
python:
  - "3.7"

install:
  - pip install -r requirements.txt
  - pip install codecov
  - pip install .
script:
  - python -m unittest discover -s test/skip

deploy:
  provider: pypi
  user: "__token__"
  password: $DEP_TOKEN
  distributions: "sdist bdist_wheel"
  skip_existing: true
  on:
    branch: main
    tag: true

